# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - ITMO UNIVERSITY\учеба\3 курс\6 семестр\Тестирование ПО\лабораторные работы\lab3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
